* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#navbar-top {
  overflow: hidden;
  background-color: aquamarine;
  position: fixed;
  top: 0;
  width: 100%;
}

.main {
  padding: 26px;
  margin-top: 30px;
  height: auto;
}

h1 {
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
}

html {
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
}

span {
  font-weight: bold;
}
