* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: nyt-cheltenham, 'Georgia', Cambria, serif;
  font-size: 15px;
  line-height: normal;
  color: #333; /* dark-grey */
}
/* NAVBAR */

#navbar-top {
  display: flex;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  boder
}

#nav-left {
  margin-left: 5px;
  padding: 10px;
}

#nav-logo {
  text-align: center;
  height: auto;
 
}

#nav-buttons {
  margin-right: 5px;
  padding: 5px;
}

/* BODY */
.main-body{
  position: relative;
  top: 10px;
  width: 1000px;
  margin: 0 auto;
  justify-content: center;
}

main {
  padding: 26px;
}
.first-header {
  padding: 10px;
  position: relative;
  margin-top: 10px;
  width: 1300px;
  margin: 30px auto;
}

.author-time {
  display: flex;
  justify-items: left;
}
.image-style {
  width: 100%;
  margin: auto;
}

.article-sections p {
  width: 600px;
  margin: auto;
}
li {
  list-style: none;
}

h1 {
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-size: 3rem;
  font-style: italic;
  line-height: normal;
}

html {
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
}

span {
  font-weight: bold;
}
